@import "./variables.scss";

/**
 * Breakpoint mixins
 */

@mixin break-huge() {
  @media ( min-width: #{ ( $break-huge ) } ) {
    @content;
  }
}

@mixin break-wide() {
  @media ( min-width: #{ ( $break-wide ) } ) {
    @content;
  }
}

@mixin break-large() {
  @media ( min-width: #{ ( $break-large ) } ) {
    @content;
  }
}

@mixin break-medium() {
  @media ( min-width: #{ ( $break-medium ) } ) {
    @content;
  }
}

@mixin break-small() {
  @media ( min-width: #{ ( $break-small ) } ) {
    @content;
  }
}

@mixin break-mobile() {
  @media ( min-width: #{ ( $break-mobile ) } ) {
    @content;
  }
}

/**
 * Applies editor left position to the selector passed as argument
 */
@mixin editor-left($selector) {
  #{$selector} {
    /* Set left position when auto-fold is not on the body element. */
    left: 0;

    @include break-medium() {
      left: $admin-sidebar-width;
    }
  }

  .auto-fold #{$selector} {
    /* Auto fold is when on smaller breakpoints, nav menu auto colllapses */
    @include break-medium() {
      left: $admin-sidebar-width-collapsed;
    }

    @include break-large() {
      left: $admin-sidebar-width;
    }
  }

  /* Sidebar manually collapsed */
  .folded #{$selector} {
    left: 0;

    @include break-medium() {
      left: $admin-sidebar-width-collapsed;
    }
  }

  /* Mobile menu opened */
  @media ( max-width: #{ ( $break-medium ) } ) {
    .auto-fold .wp-responsive-open #{$selector} {
      left: $admin-sidebar-width-big;
    }
  }

  /* In small screens with resposive menu expanded there is small white space */
  @media ( max-width: #{ ( $break-small ) } ) {
    .auto-fold .wp-responsive-open #{$selector} {
      margin-left: -18px;
    }
  }
}

@mixin editor-top($selector) {
  #{$selector} {
    top: $admin-bar-height-big + $gutenberg-header-height;
    @include break-medium() {
      top: $admin-bar-height + $gutenberg-header-height;
    }
  }
}
